@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Spoqa Han Sans Neo", sans-serif;
}
.dot {
  animation: scale-up 1.5s both cubic-bezier(0.8, 0, 0.2, 1);
  animation-delay: 0.3s;
}

.header-underline {
  animation: scale-x-up 2.5s both cubic-bezier(0.8, 0, 0.2, 1);
  animation-delay: 2.5s;
  transform-origin: left;
}

@keyframes scale-up {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes scale-x-up {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}
