@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Spoqa Han Sans Neo", sans-serif;
}

li {
  @apply flex items-center;
}

li::before {
  @apply relative w-1.5 h-1.5 mr-2 rounded-full bg-black;
  content: "";
}

/* .dot {
  animation: scale-up 1.5s both cubic-bezier(0.8, 0, 0.2, 1);
  animation-delay: 0.3s;
}

.header-underline {
  animation: scale-x-up 2.5s both cubic-bezier(0.8, 0, 0.2, 1);
  animation-delay: 2.5s;
  transform-origin: left;
} */

/* .content {
  animation: fade-in 0.5s both;
  animation-delay: 4s;
} */

@keyframes scale-up {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes scale-x-up {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
